# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.env
dist/
build/
coverage/
.DS_Store
*.local
*.env.*
logs/
*.log
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
tmp/
temp/
*.tgz
.pnpm-debug.log*
.nyc_output/
.next/
out/
.cache/
.eslintcache
*.tsbuildinfo